In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


import warnings
warnings.filterwarnings ('ignore')

In [31]:
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [32]:
df.shape

(284807, 31)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [34]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [35]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [36]:
df.duplicated().sum()

1081

In [37]:
# Distribution of fraudulent and legit transaction
df ['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Highly unbalanced dataset. Difference between both classes is high
0 = Normal Transaction
1 = Fraudulent Transaction

In [38]:
# Separating The Data For Analysis

legit = df [df.Class == 0]
fraud = df [df.Class == 1]

In [74]:
#fraud.to_csv('Fraud_Test.csv', index=False)

In [39]:
#shape of separated data
print (legit.shape)
print (fraud.shape)

(284315, 31)
(492, 31)

In [40]:
# Statistical Measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [41]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [42]:
# Compare The Values Of Both Transactions
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [46]:
# Dealing with unbalanced data so we use under sampling
# we will build a sample dataset containing similar distribution of both legit and fraudulent transactions

# Since the number of fraudulent transactions is 492, we will also take 492 random transactions from the legit transaction
# making it a balanced data and will aid in our modeling

legit = legit.sample (n = 492)
legit.shape

(492, 31)

In [47]:
# now we concatenate the two DataFrames

new_dataset = pd.concat ([legit, fraud], axis = 0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
84257,60228.0,1.346345,-0.338777,-0.107222,-0.780376,-0.432440,-0.705942,-0.160549,-0.172743,-1.523822,...,0.290898,0.798117,-0.130355,0.296544,0.683588,-0.087945,-0.012176,-0.007943,15.00,0
127742,78448.0,-2.130403,1.737404,0.161524,0.765752,-0.787224,-0.312844,-0.463839,0.923208,-0.499643,...,0.192503,-0.030171,-0.033193,-0.036104,0.109063,-0.460508,-1.489344,-0.352551,5.94,0
92327,63879.0,0.881488,-1.804985,1.185651,-0.332508,-2.170132,0.178001,-1.447840,0.357434,0.544420,...,0.514422,0.987609,-0.224740,0.063426,0.122387,0.009702,0.027975,0.059490,220.80,0
210714,138094.0,-0.999894,-0.188173,-1.084908,-0.412345,3.109425,-1.783612,1.066677,-0.528102,-0.877799,...,0.289708,0.810221,-0.601385,-0.920866,1.142701,0.783115,-0.306624,0.116040,0.00,0
124218,77219.0,-1.635481,1.582199,1.914699,1.141588,-1.122216,0.608343,-0.873865,1.343296,-0.467882,...,0.280657,0.901926,-0.207747,0.245626,0.327181,-0.035178,0.249049,0.077684,2.00,0

In [48]:
new_dataset.shape

(984, 31)

In [49]:
# Class count of our new dataset
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [50]:
# It is visible that the nature of the data has not changed, almost similar means are observed and same difference

new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,91718.884146,-0.128424,0.001219,0.093392,0.049162,-0.070341,0.019609,0.001241,0.018403,-0.022662,...,-0.079521,-0.059887,-0.017249,-0.009408,0.006819,0.006878,0.015960,0.005450,0.019452,89.587093
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [52]:
# split our features into features and target

x = new_dataset.drop(['Class'], axis = 1)
y = new_dataset ['Class']

x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
84257,60228.0,1.346345,-0.338777,-0.107222,-0.780376,-0.432440,-0.705942,-0.160549,-0.172743,-1.523822,...,0.080293,0.290898,0.798117,-0.130355,0.296544,0.683588,-0.087945,-0.012176,-0.007943,15.00
127742,78448.0,-2.130403,1.737404,0.161524,0.765752,-0.787224,-0.312844,-0.463839,0.923208,-0.499643,...,-0.481464,0.192503,-0.030171,-0.033193,-0.036104,0.109063,-0.460508,-1.489344,-0.352551,5.94
92327,63879.0,0.881488,-1.804985,1.185651,-0.332508,-2.170132,0.178001,-1.447840,0.357434,0.544420,...,0.295796,0.514422,0.987609,-0.224740,0.063426,0.122387,0.009702,0.027975,0.059490,220.80
210714,138094.0,-0.999894,-0.188173,-1.084908,-0.412345,3.109425,-1.783612,1.066677,-0.528102,-0.877799,...,0.012985,0.289708,0.810221,-0.601385,-0.920866,1.142701,0.783115,-0.306624,0.116040,0.00
124218,77219.0,-1.635481,1.582199,1.914699,1.141588,-1.122216,0.608343,-0.873865,1.343296,-0.467882,...,0.110315,0.280657,0.901926,-0.207747,0.245626,0.327181,-0.035178,0.249049,0.077684,2.00

In [53]:
y.head()

84257     0
127742    0
92327     0
210714    0
124218    0
Name: Class, dtype: int64

In [54]:
#split the data into training and testing
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split (x, y, stratify = y, test_size = 0.2, random_state = 2)

In [55]:
# check the shapes of our split
print (x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

## MODEL TRAINING

In [61]:
# import our Logistic Regression Model and training our data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression ()
model.fit (x_train, y_train)

LogisticRegression()

In [59]:
# check our model score
train_score = model.score(x_train, y_train)
print ('Accuracy on Training Data:', train_score)

Accuracy on Training Data: 0.9491740787801779

In [63]:
# Check our accuracy on our test data

test_score = model.score (x_test, y_test)
print ('Accuracy on Test Data:', test_score)

Accuracy on Test Data: 0.9390862944162437

In [68]:
predictions = model.predict (x_test)
predictions

array([1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0],
      dtype=int64)

In [67]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

score=r2_score(predictions,y_test)
mae= mean_absolute_error(predictions,y_test)
mse= mean_squared_error(predictions,y_test)
rmse=np.sqrt(mse)

In [69]:
print (score)
print (mae)
print (mse)
print (rmse)

0.7552795031055901
0.06091370558375635
0.06091370558375635
0.24680702093691814

## BUILDING A PREDICTING SYSTEM

In [76]:
input_data = (406.0,-2.3122265423263,1.95199201064158,-1.60985073229769,3.9979055875468,-0.522187864667764,-1.42654531920595,-2.53738730624579,1.39165724829804,-2.77008927719433,-2.77227214465915,3.20203320709635,-2.89990738849473,-0.595221881324605,-4.28925378244217,0.389724120274487,-1.14074717980657,-2.83005567450437,-0.0168224681808257,0.416955705037907,0.126910559061474,0.517232370861764,-0.0350493686052974,-0.465211076182388,0.320198198514526,0.0445191674731724,0.177839798284401,0.261145002567677,-0.143275874698919,0.0)


# change the input to numpy array
data = np.array (input_data)

# Reshape the numpy array because we are predicting for just one instance or data point
input_data_reshaped = data.reshape(1, -1)

prediction = model.predict (input_data_reshaped)
print (prediction)


if (prediction == 0):
    print ('This Is Not A Fraudulent Transaction')
else:
    print ('This Is A Fraudulent Transaction')

[1]
This Is A Fraudulent Transaction